

<!--   <div class="row">
  	<div class="large-12">
  		<nav class="second-nav">
  			<ul>
  				<li><a href="#">Themes</a></li>
  				<li><a href="#">Themes</a></li>
  				<li><a href="#">Themes</a></li>
  				<li><a href="#">Themes</a></li>
  				<li><a href="#">Themes</a></li>
  				<li><a href="#">Themes</a></li>
  			</ul>
  		</nav>
  	</div>
  </div> -->
  <div class="home-slider">
  	
  </div>